/*Verdes*/
$Green-Light: #00C457;
$Green-Medium: #0A8C5D;
$Green-Dark: #036B2A; /*Para botones*/

$Green-Hover: #068838;

$Green-Hover-Card: #0e4437;

/*Verdes Backgrounds*/
$Bg-Green-0: #003327;
$Bg-Green-1: #072822;
$Bg-Green-2: #001A1B;
$Bg-gradient:linear-gradient(to left, #036B2A, #072822);


/*Fuentes*/
$font-primary: #ffffff;
$font-secondary: #9A9A9A;

